<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">About</h2>
                    <h3 class="section-subheading text-muted">Education, Qualifications, Skills & More</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2005-2011</h4>
                                    <h4 class="subheading">Study of Biology (Diploma)</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted"><b>Johannes Gutenberg-University Mainz (Germany)</b></p>
                                    <p class="text-muted"><u>Main topics:</u></p>
                                    <p class="text-muted">Molecular Genetics, Anthropology & Microbiology</p>
                                    <p class="text-muted"><u>Diploma thesis:</u></p>
                                    <p class="text-muted">Evolutionary Transcriptome-Analysis on Two Closely Related Chironomid-Species</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2011</h4>
                                    <h4 class="subheading">Research Assistent</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Uni Mainz, Uni Münster (& Galantos Genetics)</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2012-today</h4>
                                    <h4 class="subheading">Ph.D Student</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Beschreibung der Arbeit, Institut, MGSE</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Skills</h4>
                                    <h4 class="subheading">Bioinformatics</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Languages, NGS-data, transcriptomics, genomics, ...</p>
                                </div>
                                <p></p>
                                <div class="timeline-heading">
                                    <h4 class="subheading">Wet Lab</h4>
                                <div class="timeline-body">
                                    <p class="text-muted">PCR, qRT-PCR, Hybridizations, ...</p>
                                </div>                               
                            </div>
                        </li>   
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Others</h4>
                                    <h4 class="subheading">Further Practical Work</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">MGSE Vorstand, MGSE Website Administration, ...</p>
                                </div>
                                <p></p>
                                <div class="timeline-heading">
                                    <h4 class="subheading">Further Education & Qualifications</h4>
                                </div> 
                                <div class="timeline-body">
                                    <p class="text-muted">NRW-Medienschein, Praktika</p>
                                </div>                               
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>Conferences & Symposia</h4>
                                    <h4 class="subheading">Year</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">blah</p>
                                </div>
                                <p></p>
                                <div class="timeline-heading">
                                    <h4 class="subheading">year</h4>
                                <div class="timeline-body">
                                    <p class="text-muted">blah</p>
                                </div>                               
                            </div>
                        </li>                       
                        
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Be Part
                                    <br>Of Our
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>