 <!-- Portfolio Modals -->
 {% for post in site.posts %}
    <div class="portfolio-modal modal fade" id="publication{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-content">
            <div class="close-modal" data-dismiss="modal">
                <div class="lr">
                    <div class="rl">
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                        <div class="modal-body">
                            <h2>{{ post.title }}</h2>
                            <hr class="star-primary">
                            <a href="{{ post.client }}" target=tab><img src="img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}"></a>
                            <p><font size="+1">{{ post.description }}</font></p>
                            <ul class="list-inline item-details">
                                <li><font color=black><u>Further Information:</u>
                                    <strong><a target=tab href="{{ post.further }}">link</a>
                                    </strong>
                                </font>
                                </li>
                                <li><font color=black><u>Category:</u>
                                    <strong><a target=tab href="http://lauscherin.github.io/">{{ post.category }}</a>
                                    </strong>
                                </font>
                                </li>
                            </ul>
                            <ul class="list-inline item-details">
                                <li><font color=black><u>Thumbnail source:</u>
                                    <strong><a href="{{ post.thumb }}" target=tab>link</a>
                                    </strong>
                                </font>
                                </li>
                                <li><font color=black><u>Date:</u></font>
                                    <strong>{{ post.project-date }}
                                    </strong>
                                </li>
                            </ul>
                            <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                        </div>
                </div>
            </div>
        </div>
    </div>
{% endfor %}
