<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Research Interests</h2>
                    <p class="section-subheading text-muted"><font size="4"><i>My research is focused on the comparative and bioinformatic analysis of molecular data of diverse eukaryotic genomes to detect inter- and intra-species differences (e.g. in the amount and distribution of transposed elements, numts, and retropseudogenes). Furthermore, I'm interested in the development of user-friendly softwares especially for the analysis of huge NGS-datasets.</i></font></p>
                </div>
            </div>
            <div>
			<h2 class="section-heading"></h2>
			</div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-terminal fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Bioinformatics</h4>
                    <p class="text-muted">Since the end of 2011, I'm more and more interested in Bioinformatics due to the growing influence of Next Generation Sequening data and their analysis.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-flask fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Molecular Genetics</h4>
                    <p class="text-muted">The main topic during my diploma studies was "Molecular Genetics". My diploma thesis was mostly done in the laboratory. Therefore, I'm not only a "Computer-Nerd" but also able to work in a wet lab.</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-sitemap fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Anthropology & Primatology</h4>
                    <p class="text-muted">One of my favorite topics enclosing "Bioinformatics" and "Molecular Genetics" is the evolution of humans and all other primates. Even in my current projects, I'm working at such species.</p>
                </div>
            </div>
        </div>
    </section>